body{
  margin: 0 auto;
  background: rgba(1,217,120,1);
  background: -webkit-linear-gradient(left, rgba(1,217,120,1) 0%, rgba(147,249,185,1) 100%);
  background: -o-linear-gradient(left, rgba(1,217,120,1) 0%, rgba(147,249,185,1) 100%);
  background: -ms-linear-gradient(left, rgba(1,217,120,1) 0%, rgba(147,249,185,1) 100%);
  background: linear-gradient(to right, rgba(1,217,120,1) 0%, rgba(147,249,185,1) 100%);

  .page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .panel{
      padding: 4%;
      border-radius: 6px;
      background-color: white;
    }
  }
}