<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Blog{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('assets/main.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% embed '@App/Components/nav.html.twig' %}{% endembed %}

        {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }}">
                <ul>
                    {% for message in messages %}
                        <li>
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
